[submodule "intpath/openeducat_activity"]
	path = intpath/openeducat_activity
	url = git@github.com:intpath/openeducat_activity.git
	branch = master

[submodule "intpath/openeducat_admission"]
	path = intpath/openeducat_admission
	url = git@github.com:intpath/openeducat_admission.git
	branch = master

[submodule "intpath/openeducat_assignment"]
	path = intpath/openeducat_assignment
	url = git@github.com:intpath/openeducat_assignment.git
	branch = master

[submodule "intpath/openeducat_attendance"]
	path = intpath/openeducat_attendance
	url = git@github.com:intpath/openeducat_attendance.git
	branch = master

[submodule "intpath/openeducat_classroom"]
	path = intpath/openeducat_classroom
	url = git@github.com:intpath/openeducat_classroom.git
	branch = master

[submodule "intpath/openeducat_core"]
	path = intpath/openeducat_core
	url = git@github.com:intpath/openeducat_core.git
	branch = master

[submodule "intpath/openeducat_erp"]
	path = intpath/openeducat_erp
	url = git@github.com:intpath/openeducat_erp.git
	branch = master

[submodule "intpath/openeducat_exam"]
	path = intpath/openeducat_exam
	url = git@github.com:intpath/openeducat_exam.git
	branch = master

[submodule "intpath/openeducat_facility"]
	path = intpath/openeducat_facility
	url = git@github.com:intpath/openeducat_facility.git
	branch = master
